body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #8ec6ff, #a5bac9);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; /* Prevent vertical scroll issues */
}

.container {
     background-color: rgb(204, 224, 254);
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Media query for tablets and desktops */
@media (min-width: 768px) {
    .container {
        width: 70%; /* Wider container for medium-sized screens */
    }
}

@media (min-width: 1200px) {
    .container {
        width: 60%; /* Wider container for large desktops */
    }
}

.title {
    font-family: 'Playfair Display', serif;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #221f1f;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#fileInput {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: inherit;
}

#browseButton {
    padding: 10px 20px;
    background: #00a6ff;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#browseButton:hover {
    background: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 123, 255, 0.5);
}

.image-preview {
    border: 2px dashed #05de75;
    padding: 10px;
    height: auto; /* Allow auto height */
    width: 100%; /* Full width of the container */
    max-width: 300px; /* Limit image preview width */
    aspect-ratio: 1 / 1; /* Maintain square shape */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: #05de75;
}

.image-preview img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    object-fit: cover; /* Prevent stretching */
}

#detectButton {
    margin-top: 20px
    padding: 12px 30px;
    background-color: #6f83a7;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#detectButton:hover {
    background-color: #38ea5f;
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(33, 136, 56, 0.5);
}

/* Navbar */
.w3-bar {
    background-color: transparent !important;
    box-shadow: none;
}

.w3-bar .w3-bar-item {
    padding: 14px 20px;
    color: white;
    transition: all 0.3s ease;
}

.w3-bar .w3-bar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
